<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <!--bindings>
      <basicHttpBinding>
        <binding name="messageHttp">
          <security mode ="Message"></security>
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <services>
      <service name="WcfCarService.ServiceCar" behaviorConfiguration="mexBehavior">
        <endpoint address="ServiceCar" binding="basicHttpBinding" contract="WcfCarService.IServiceCar"></endpoint>
        <endpoint address="ServiceCar" binding="netTcpBinding" contract="WcfCarService.IServiceCar"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfBookingService.ServiceBooking" behaviorConfiguration="mexBehavior">
        <endpoint address="ServiceBooking" binding="basicHttpBinding" contract="WcfBookingService.IServiceBooking"></endpoint>
        <endpoint address="ServiceBooking" binding="netTcpBinding" contract="WcfBookingService.IServiceBooking"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/" />
            <add baseAddress="net.tcp://localhost:8091/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfCustomerService.ServiceCustomer" behaviorConfiguration="mexBehavior">
        <endpoint address="ServiceCustomer" binding="wsHttpBinding" contract="WcfCustomerService.IServiceCustomer">
          <!--bindingConfiguration="messageHttp">-->
        </endpoint>
        <endpoint address="ServiceCustomer" binding="netTcpBinding" contract="WcfCustomerService.IServiceCustomer"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/" />
            
            <add baseAddress="net.tcp://localhost:8092/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name ="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>